<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://com.dorojatun.myapp" version="1.1.0" viewmodes="maximized">
	<tizen:application required_version="2.2"/>
	<author href="" email="edorojatun@gmail.com">dorojatun</author>
	<content src="index.html" />
	<description>Gembira Bersama mengenal Keberagaman Agama</description>
	<icon src="icon2.png" width="128" height="128" />
	<name>Gembira Bersama : Kebergaman Agama</name>
	<tizen:setting context-menu="disable" hwkey-event="enable" background-support="disable" encryption="disable" install-location="auto" screen-orientation="auto-rotation" />
	<feature name="http://tizen.org/feature/screen.size.all"/>
</widget>